# Git
.git
.gitignore

# Documentation
README.md
LICENSE
CONTRIBUTING.md

# Build artifacts
frontend/node_modules
frontend/dist
frontend/.eslintcache

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
.eggs
build
dist

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db